.flex {
  display: flex;
}
.flex.j-center {
  justify-content: center;
}
.flex.j-between {
  justify-content: space-between;
}
.flex.a-center {
  align-items: center;
}
.gap-40 {
  gap: 40px;
}

.slide .slide-title {
  font-weight: 500;
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

.slide .slide-title.black {
  color: #000;
}

.slide .h-full {
  height: 80%;
}
.slide .font-bold {
  font-weight: 600;
}
.slide .text-light {
  color: #fff;
}
.slide .text-gray {
  color: #eee;
}
.slide .fz-big {
  font-size: 60px;
}
.slide .fz-normal {
  font-size: 16px;
}

.relative {
  position: relative;
}

.top-right {
  position: absolute;
  top: 10%;
  right: 10%;
}

.top-left {
  position: absolute;
  top: 10%;
  left: 10%;
}

.bottom-left {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.bottom-right {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.hero-1 {
  left: 5%;
  transform: rotate(15deg);
}

.hero-3 {
  right: 7%;
  transform: rotate(-15deg);
}

.hero-4 {
  transform: rotate(-5deg);
  bottom: 15%;
}

.hero-1, 
.hero-2, 
.hero-3, 
.hero-4, {
  position: absolute;
}